/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
 */
@font-face {
  font-family: "GangwonEduPowerExtraBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #2a0f90;
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  font-family: "GangwonEduPowerExtraBoldA";
}
