@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
body {
  background-color: #2a0f90;
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
}
